<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title> Profile </title>
</head>

<body>
    <%- include('navbar') %>

    <div class="container mt-5">
        <h1>Welcome to Your Profile</h1>
        <% if (user) { %>
          <p>Name: <%= user.firstName %> <%= user.lastName %></p>
          <p>Email: <%= user.illiniEmail %></p>
          <p>Gender: <%= user.gender %> </p>
          <a href="/logout" class="btn btn-primary">Logout</a>
        <% } %>
    </div>



</body>
</html>